.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.LoginInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginContainer {
  margin: 45px 0 30px 0;
}

.LoginForm {
  display: flex;
  align-items: center;
  width: 400px;
  height: 60px;
  margin: 8px;
  font-size: 15px;
  border: 1px solid #8e8e8e;
}

.Input {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 55%;
  margin: 10px;
}

.Button {
  width: 400px;
  height: 60px;
  margin: 8px;
  font-size: 15px;
  border: none;
  color: white;
  background-color: #435cc8;
}

.LineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

.Line {
  width: 200px;
  height: 0.1px;
  margin: 5px;
  border: 1px solid #9a9fab;
}

.SocialContainer {
  display: flex;
  flex-direction: row;
}
